<?xml version="1.0" encoding="UTF-8"?>
<Export generator="Cache" version="25">
  <Document name="iris-openai.ZPM">
    <Module>
      <Name>iris-openai</Name>
	  <Description>Connect to OpenAI API from IRIS</Description> 
      <Version>1.2.0</Version>
      <Packaging>module</Packaging>
      <SourcesRoot>src</SourcesRoot>
      <Resource Name="St.OpenAi.PKG"/>
    </Module>
  </Document>
</Export>
